.img-mini {
    width: 200px;
    margin: 10px;
}

.description-user {
    padding-bottom: 20px;
    padding-top: 30px;
    font-style: italic;
}

.image-header-block {
    text-align: center;
    padding: 15px;
}

.image-header {
    width: 300px;
}

.avatar-user-100{
    width: 100px;
}

.avatar-user-70{
    width: 70px;
}

.avatar-user-50{
    width: 50px;
}
.avatar-user-30{
    width: 30px;
}

.button-group-profile {
    padding-left: 30px;
}

.main-menu {
    margin-bottom: 30px;
}

i.fas.fa-heart{
    color: deeppink;
    font-size: 30px;
}

i.far.fa-heart{
    color: gray;
    font-size: 30px;
}


.nav-pills {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.nav-pills > li {
    float: none;
    display: inline-block;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #f5f5f5;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;

}

.block-post {
    max-width: 500px;
}




footer .footer {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #202020;
    text-align: center;
    height: 80px;
}

footer .footer .back-to-top-page {
    position: absolute;
    left: 0;
    right: 0;
    top: -32px;
}

footer .footer .back-to-top-page a {
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: #aeaeae;
    line-height: 34px;
    background-color: #202020;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

footer .footer p.text {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #606060;
    margin: 0;
    padding: 30px 0;
}